{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="item-add-container">
	<form action="" method="POST" class="clearfix" enctype='multipart/form-data'>
		{% csrf_token %}
        {% for field in form %}
        <div class="form-group clearfix">
			    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
		</div>
        {% endfor %}
		<div>
			<button type="submit" class="btn btn-dark">등록</button>
		</div>
	</form>
</div>
{% endblock %}
