{% extends 'base.html' %}
{% load id_from_email_tag %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
  <div class="item-detail-container">
    <div class="row align-items-center">
      <h2 class="col-lg-12 text-center item-name">{{ item.name }}</h2>
    </div>
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="mb3">
          <img class="col-12 rounded detail-img" src="{% if item.img %}{{ item.img.url }}{% else %}https://www.publicdomainpictures.net/pictures/250000/velka/shopping-1515702542IGF.jpg{% endif %}" alt="item-image">
        </div>
      </div>
      <div class="col-lg-4 order-lg-2">
        <div class="item-detail">
          <h3>상품 카테고리</h3>
          <small class="text-muted">{% if item.category %}{{ item.category }}{% else %} {% endif %}</small>
        </div>
        <div class="item-detail">
          <h3>상품 가격</h3>
          <small class="text-muted">{{ item.price|intcomma }}원</small>
        </div>
        <div class="item-detail">
          <h3>구입 링크</h3>
          <a href="{{ item.purchase_url }}" class="text-muted">{% if item.purchase_url %}{{ item.purchase_url }}{% else %} {% endif %}</a>
        </div>
        <div class="item-detail">
          <h3>관심 있는 사람</h3>
          <small class="text-muted">{{ item.like_users.count }} 명</small>
        </div>
      </div>
    </div>
  </div>


  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">댓글</h6>
    {% for comment in item.comments.all %}
    <div id="item-comments-{{ comment.pk }}" class="media text-muted pt-3 border-bottom border-gray align-items-center">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125">
      <strong class="d-block text-gray-dark">{{ comment.user|id_from_email }}</strong>
      {{ comment.content }}
      </p>
      {% if comment.user == user %}
        <form action="{% url 'items:comment-delete' comment_pk=comment.pk %}?next={% url 'items:public-item-detail' item_pk=item.pk %}#item-comments-{{ comment.pk }}" method="post">
          {% csrf_token %}
          <button class="btn btn-sm btn-danger comment-delete-btn">삭제</button>
        </form>
        {% endif %}
      </div>
      {% endfor %}
    </div>



    <form action="{% url 'items:comment-create' item_pk=item.pk %}?next={% url 'items:public-item-detail' item_pk=item.pk %}#item-comments-{{ comment.pk }}" method="post">
      {% csrf_token %}
      {{ comment_form }}
      <button class="btn btn-primary form-control">댓글달기</button>
    </form>
  </div>


</div>

{% endblock %}
