{% load id_from_email_tag %}

<div id="comment-box" class="my-3 bg-white rounded box-shadow">
  <div id="itemCount">
    <h6 class="border-bottom border-gray pb-2 mb-0">댓글 {{ item.comments.count }}</h6>
  </div>
  <div id="commentList-{{ item.pk }}" class="comment-content-container">
    {% for comment in item.comments.no_reply_all %}
    <div id="comment-{{ comment.pk }}" class="comment-container">
      <div class="parent-comment comment-content media text-muted pt-3 border-bottom border-gray align-items-center">
        <span class="mr-2 rounded user-profile">
          {% if comment.user.gender == male %}
            <i class="far fa-user-circle fa-2x"></i>
          {% else %}
            <i class="fas fa-user-circle fa-2x"></i>
          {% endif %}
        </span>
        <p class="media-body pb-3 mb-0 small lh-125"><strong class="d-block text-gray-dark">{{ comment.user|id_from_email }}</strong>{{ comment.content|linebreaksbr }}</p>
        <button class="reply-add-btn btn btn-sm btn-primary" name="{{ comment.pk }}">답글</button>
        {% if comment.user == user %}
          <button class="comment-delete-btn btn btn-sm btn-danger" name="{{ comment.pk }}">삭제</button>
        {% endif %}
      </div>

      {% for reply in comment.children %}
        <div id="replyComment-{{ reply.pk }}"class="child-comment comment-content media text-muted pt-3 border-bottom border-gray align-items-center">
          <span class="mr-2 rounded user-profile">
            {% if reply.user.gender == male %}
              <i class="far fa-user-circle fa-2x"></i>
            {% else %}
              <i class="fas fa-user-circle fa-2x"></i>
            {% endif %}
          </span>
          <p class="media-body pb-3 mb-0 small lh-125"><strong class="d-block text-gray-dark">{{ reply.user|id_from_email }}</strong>{{ reply.content|linebreaksbr }}</p>
          {% if reply.user == user %}
            <button class="reply-delete-btn btn btn-sm btn-danger" name="{{ reply.pk }}">삭제</button>
          {% endif %}
        </div>
      {% endfor %}

      <div id="addReply-{{ comment.pk }}" class="add-reply none input-group">
        {{ comment_form }}
        <div class="input-group-append">
          <input type="hidden" name="parent_pk" value="{{ comment.pk }}">
          <button class="comment-reply-add-btn btn btn-primary" name="{{ comment.pk }}">등록</button>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

  <div id="addComment-{{ item.pk }}" class="input-group">
    {{ comment_form }}
    <div class="input-group-append">
      <button class="comment-add-btn btn btn-primary" name="{{ item.pk }}">등록</button>
    </div>
  </div>
</div>
