{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container body-container">
  <div class="item-detail-container">
    <div class="row align-items-center item-name-container">
      <h2 class="col-lg-12 text-center item-name">{{ item.name }}</h2>
    </div>
    <div class="row justify-content-around align-items-center item-content-container">
      <div class="col-lg-6 order-lg-1">
        <div class="mb3">
          <img class="col-12 rounded detail-img mx-auto d-block"
          src="{% if item.img %}{{ item.img.url }}{% else %}{% static 'images/default_img.jpg' %}{% endif %}"
          alt="item-image">
        </div>
      </div>
      <div class="col-lg-4 order-lg-2">
        <div class="item-detail">
          <h3>상품 카테고리</h3>
          <span class="text-muted">{% if item.category %}{{ item.get_category_display }}{% else %} {% endif %}</span>
        </div>
        <div class="item-detail">
          <h3>상품 가격</h3>
          <span class="text-muted">{{ item.price|intcomma }}원</span>
        </div>
        <div class="item-detail">
          <h3>구입 링크</h3>
          <a href="{{ item.purchase_url }}" class="text-muted">{% if item.purchase_url %}{{ item.purchase_url|truncatechars:70 }}{% else %} {% endif %}</a>
        </div>
        <div class="item-detail">
          <h3>관심 있는 사람</h3>
          <span class="text-muted">{{ item.like_users.count }} 명</span>
        </div>
      </div>
    </div>
  </div>

  <div class="commnet-container">
    {% include 'items/comment/comment-form.html' %}
  </div>
</div>

<script src="{% static 'js/comment.js' %}"></script>
<script type="text/javascript">
  var isAuth = "{{ request.user.is_authenticated }}";
  var csrfToken = "{{ csrf_token }}";


  $(document).on("click", ".comment-add-btn", function () {
    var pk = $(this).attr('name');
    var url = "{% url 'items:comment-create' %}";
    var nextPath = "/items/public/"+pk;
    commentAdd(pk, isAuth, url, csrfToken, nextPath);
  })

  $(document).on("click", ".comment-delete-btn", function () {
    var pk = $(this).attr('name');
    var url = "{% url 'items:comment-delete' %}";
    var count = "#itemCount";
    commentDel(pk, url, csrfToken, count);
  })

  $(document).on("click", ".reply-add-btn", function () {
    var pk = $(this).attr('name');
    replyAddForm(pk);
  })

  $(document).on("click", ".comment-reply-add-btn", function () {
    var parentPk = $(this).attr('name');
    var pk = {{ item.pk }};
    var url = "{% url 'items:comment-create' %}";
    var nextPath = "/items/public/"+pk;
    replyAdd(parentPk, pk, isAuth, url, csrfToken, nextPath);
  })

  $(document).on("click", ".reply-delete-btn", function () {
    var pk = $(this).attr('name');
    var url = "{% url 'items:comment-delete' %}";
    var count = "#itemCount";
    replyDel(pk, url, csrfToken, count);
  })


</script>

{% endblock %}
