{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container">
  <div class="item-detail-container">
    <div class="row align-items-center">
      <h2 class="col-lg-12 text-center item-name">{{ item.name }}</h2>
    </div>
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="mb3">
          <img class="col-12 rounded detail-img mx-auto d-block"
          src="{% if item.img %}{{ item.img.url }}{% else %}{% static 'images/default_img.jpg' %}{% endif %}"
          alt="item-image">
        </div>
      </div>
      <div class="col-lg-4 order-lg-2">
        <div class="item-detail">
          <h3>상품 카테고리</h3>
          <span class="text-muted">{% if item.category %}{{ item.get_category_display }}{% else %} {% endif %}</span>
        </div>
        <div class="item-detail">
          <h3>상품 가격</h3>
          <span class="text-muted">{{ item.price|intcomma }}원</span>
        </div>
        <div class="item-detail">
          <h3>구입 링크</h3>
          <a href="{{ item.purchase_url }}" class="text-muted">{% if item.purchase_url %}{{ item.purchase_url|truncatechars:70 }}{% else %} {% endif %}</a>
        </div>
        <div class="item-detail">
          <h3>관심 있는 사람</h3>
          <span class="text-muted">{{ item.like_users.count }} 명</span>
        </div>
      </div>
    </div>
  </div>

  {% include 'items/comment/comment-form.html' %}

</div>


<script type="text/javascript">
  $(document).on("click", ".comment-add-btn", function () {
    var pk = $(this).attr('name');
    var content = $("#addComment-"+pk+">textarea").val();
    var nextPath = "/items/public/"+pk;
    if (content) {
      $.ajax({
        type: "POST",
        url: "{% url 'items:comment-create' %}",
        data: {
          'pk': pk,
          'content': content,
          'next_path': nextPath,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: "html",

        success: function(data, textStatus, jqXHR) {
          $("#addComment-"+pk+">textarea").val("");
          $("#commentList-"+pk).append(data);
          $("#itemCount").load(window.location + " #itemCount");
        },
        error: function(request, status, error) {
          alert("로그인이 필요합니다");
          console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    } else {
      alert("댓글 내용을 입력해주세요")
    }
  })

  $(document).on("click", ".comment-delete-btn", function () {
    var pk = $(this).attr('name');
    $.ajax({
      type: "POST",
      url: "{% url 'items:comment-delete' %}",
      data: {
        'pk': pk,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "json",

      success: function(response) {
        if(response.status){
          $("#comment-"+pk).remove();
          $("#itemCount").load(window.location + " #itemCount");
        }
      },
      error: function(request, status, error) {
        alert("잘못된 접근입니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })
</script>

{% endblock %}
