img {
  max-width: 100%;
  height: auto;
}

.row {
  margin: 0;
}

.card {
  box-shadow: 2px 2px 5px 2px rgba(59, 59, 59, 0.12);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a .price-text {
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 2px 2px 5px 2px rgba(59, 59, 59, 0.12);
  transform: translateY(-1px);
}

.top-container {
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  height: 40px;
}

.top-container > span {
  margin-left: auto;
}

.top-container > a {
  text-decoration: none;
  color: inherit;
}

.form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}

.container {
  margin-bottom: 70px;
}

.body-container {
  min-height: 800px;
}

.form-group {
  margin-bottom: 20px;
}

.none {
  display: none;
}

.slideUp {
  height: 0;
  transition: all .5s linear;
}
