#small-table {
  display: none;
}

.board-container {
  padding: 0 15px;
  margin: 0 auto 70px auto;
}

.board-container .add-review-container {
  margin-bottom: 30px;
}

.board-container #table {
  display: table;
  width: 100%;
  margin-bottom: 30px;
}

.board-container #table > .table-header-row {
  display: table-row;
  font-weight: bold;
  font-size: 12px;
  background-color: #212529;
  color: white;
}

.board-container #table > .table-header-row > .table-cell {
  text-align: center;
}

.board-container #table > .table-row {
  display: table-row;
  color: #707070;
}

.board-container #table .table-cell {
  display: table-cell;
  padding: 7px;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

.board-container #table .table-cell > a {
  color: inherit;
}

.board-container #table .table-cell > a:hover {
  text-decoration: none;
  color: #a19f9f;
}

.board-container #table .col1, .board-container #table .col5 {
  width: 6%;
  text-align: center;
}

.board-container #table .col2 {
  width: 68%;
}

.board-container #table .col3, .board-container #table .col4 {
  width: 10%;
  text-align: center;
}

@media (max-width: 796px) {
  #table {
    display: none !important;
  }
  #small-table {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  #small-table .small-table-row {
    display: flex;
    color: #222222;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    height: auto;
    flex-flow: row;
  }
  #small-table .small-table-row .small-table-detail {
    display: inline-block;
    font-size: 1.2rem;
    width: 90%;
    padding-top: 10px;
  }
  #small-table .small-table-row .small-table-detail .small-table-title a {
    color: inherit;
  }
  #small-table .small-table-row .small-table-detail .small-table-title a:hover {
    text-decoration: none;
    color: #a19f9f;
  }
  #small-table .small-table-row .small-table-review-info > span {
    display: inline-block;
    font-size: 0.8rem;
    color: #7d7c7c;
    width: 80px;
    text-align: left;
    padding: 4px 0 10px 0;
  }
  #small-table .small-table-row .small-table-review-info > .eye-icon {
    display: inline;
    color: #cbcaca;
  }
  #small-table .small-table-row .small-table-comments {
    width: 8%;
    text-align: center;
    margin-left: auto;
    background-color: #999595;
    color: white;
  }
  .review-item-name-container {
    margin-bottom: 12px;
  }
  .review-item-name-container > .review-item-name {
    font-size: 1.2rem;
    color: #797979;
  }
  .review-title-container {
    margin-bottom: 8px;
  }
  .review-title-container > .review-title {
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: bold;
  }
  .review-info-container {
    height: 30px;
    display: flex;
    align-items: center;
  }
  .review-info-container .review-date-view-count {
    color: #7d7c7c;
  }
  .review-info-container .edit-delete-btn {
    margin-left: auto;
  }
}
