{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

{% if request.user != item.user %}
 <meta http-equiv="REFRESH" content="0;url={% url 'items:public-item-detail' item_pk=item.pk %}">
{% endif %}
<div class="container">
  <div class="item-detail-container">
    <div class="row align-items-center">
      <h2 class="col-sm-12 text-center item-name">{{ item.name }}</h2>
    </div>
    <div class="row justify-content-around align-items-center">
      <div class="col-sm-6 order-sm-1">
        <div class="mb3">
          <img class="col-12 rounded detail-img mx-auto d-block"
          src="{% if item.img %}{{ item.img.url }}{% else %}{% static 'images/default_img.jpg' %}{% endif %}"
          alt="item-image">
        </div>
      </div>
      <div class="col-sm-4 order-sm-2">
        <div class="item-detail">
          <h3>상품 카테고리</h3>
          <span class="text-muted">{% if item.category %}{{ item.get_category_display }}{% else %} {% endif %}</span>
        </div>
        <div class="item-detail">
          <h3>상품 가격</h3>
          <span class="text-muted">{{ item.price|intcomma }}원</span>
        </div>
        <div class="item-detail">
          <h3>구입 링크</h3>
          <a href="{{ item.purchase_url }}" class="text-muted" target="_blank">
            {% if item.purchase_url %}
            {{ item.purchase_url|truncatechars:70 }}
            {% else %} {% endif %}
          </a>
        </div>
        <div class="item-detail">
          <h3>못 지른지</h3>
          <span class="text-muted">{{ item.created_time|timesince }}째</span>
        </div>
      </div>
    </div>
  </div>

  {% include 'items/comment/comment-form.html' %}

  {% if request.user == item.user %}
    <a href="{% url 'items:item-edit' item_pk=item.pk %}" class="btn btn-dark form-control">수정</a>
    <button id="deleteBtn" class="btn btn-danger form-control" name="{{ item.pk }}">삭제</button>
  {% endif %}
</div>


<script type="text/javascript">
  $(document).on("click", ".comment-add-btn", function() {
    var pk = $(this).attr('name');
    var content = $("#addComment-"+pk+">textarea").val();
    var nextPath = "/items/"+pk
    var isAuth = "{{ request.user.is_authenticated }}";
    if (content && isAuth == "True") {
      $.ajax({
        type: "POST",
        url: "{% url 'items:comment-create' %}",
        data: {
          'pk': pk,
          'content': content,
          'next_path': nextPath,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: "html",

        success: function(data, textStatus, jqXHR) {
          $("#addComment-"+pk+">textarea").val("");
          $("#commentList-"+pk).append(data);
          $("#itemCount").load(window.location + " #itemCount");
        },
        error: function(request, status, error) {
          alert("잘못된 접근입니다");
          console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    } else if (content && isAuth == "False") {
      alert("로그인이 필요합니다");
      window.location.replace("/login/?next="+nextPath);
    } else {
      alert("댓글 내용을 입력해주세요")
    }
  })

  $(document).on("click", ".comment-delete-btn", function() {
    var pk = $(this).attr('name');
    $.ajax({
      type: "POST",
      url: "{% url 'items:comment-delete' %}",
      data: {
        'pk': pk,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "json",

      success: function(response) {
        if(response.status){
          $("#comment-"+pk).remove();
          $("#itemCount").load(window.location + " #itemCount");
        }
      },
      error: function(request, status, error) {
        alert("잘못된 접근입니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })


  $(document).on("click", "#deleteBtn", function() {
    var pk = $(this).attr('name');
    $.ajax({
      type: "POST",
      url: "{% url 'items:item-delete' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",

      success: function(response) {
        alert(response.message)
        window.location.replace("/items/list/")
      },
      error: function(request, status, error) {
        alert("로그인이 필요합니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })
</script>



{% endblock %}
