{% extends 'base.html' %}
{% load static %}
{% load id_from_email_tag %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
  <div class="item-detail-container">
    <div class="row align-items-center">
      <h2 class="col-sm-12 text-center item-name">{{ item.name }}</h2>
    </div>
    <div class="row justify-content-around align-items-center">
      <div class="col-sm-6 order-sm-1">
        <div class="mb3">
          <img class="col-12 rounded detail-img mx-auto d-block"
          src="{% if item.img %}{{ item.img.url }}{% else %}{% static 'images/default_img.jpg' %}{% endif %}"
          alt="item-image">
        </div>
      </div>
      <div class="col-sm-4 order-sm-2">
        <div class="item-detail">
          <h3>상품 카테고리</h3>
          <span class="text-muted">{% if item.category %}{{ item.get_category_display }}{% else %} {% endif %}</span>
        </div>
        <div class="item-detail">
          <h3>상품 가격</h3>
          <span class="text-muted">{{ item.price|intcomma }}원</span>
        </div>
        <div class="item-detail">
          <h3>구입 링크</h3>
          <a href="{{ item.purchase_url }}" class="text-muted" target="_blank">
            {% if item.purchase_url %}
            {{ item.purchase_url|truncatechars:70 }}
            {% else %} {% endif %}
          </a>
        </div>
        <div class="item-detail">
          <h3>못 지른지</h3>
          <span class="text-muted">{{ item.created_time|timesince }}째</span>
        </div>
      </div>
    </div>
  </div>

  <div class="my-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">댓글 {{ item.comments.count }}</h6>
    <div id="commentList-{{ item.pk }}">
      {% for comment in item.comments.all %}
      <div id="comment-{{ comment.pk }}" class="comment-content media text-muted pt-3 border-bottom border-gray align-items-center">
        <span class="mr-2 rounded user-profile">
          {% if comment.user.gender == male %}
            <i class="far fa-user-circle fa-2x"></i>
          {% else %}
            <i class="fas fa-user-circle fa-2x"></i>
          {% endif %}
        </span>
        <p class="media-body pb-3 mb-0 small lh-125"><strong class="d-block text-gray-dark">{{ comment.user|id_from_email }}</strong>{{ comment.content|linebreaksbr }}</p>
        {% if comment.user == user %}
          <form class="comment-delete-form"
          action="{% url 'items:comment-delete' comment_pk=comment.pk %}"
          method="post">
          {% csrf_token %}
            <button class="btn btn-sm btn-danger" name="{{ item.pk }}">삭제</button>
          </form>
        {% endif %}
      </div>
        {% endfor %}
      </div>
    <div id="addComment-{{ item.pk }}" class="input-group">
      {{ comment_form }}
      <div class="input-group-append">
        <button class="comment-add-btn btn btn-primary" name="{{ item.pk }}">등록</button>
      </div>
    </div>
  </div>

  <a href="{% url 'items:item-edit' item_pk=item.pk %}" class="btn btn-dark form-control">수정</a>
  <button id="deleteBtn" class="btn btn-danger form-control" name="{{ item.pk }}">삭제</button>
</div>


<script type="text/javascript">
  $(document).on("click", ".comment-add-btn", function() {
    var pk = $(this).attr('name');
    var content = $("#addComment-"+pk+">textarea").val();
    var nextPath = "/items/"+pk
    $.ajax({
      type: "POST",
      url: "{% url 'items:comment-create' %}",
      data: {
        'pk': pk,
        'content': content,
        'next_path': nextPath,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "html",

      success: function(data, textStatus, jqXHR) {
        $("#addComment-"+pk+">textarea").val("");
        $("#commentList-"+pk).append(data);
      },
      error: function(request, status, error) {
        // alert("로그인이 필요합니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })


  $(document).on("click", "#deleteBtn", function() {
    var pk = $(this).attr('name');
    $.ajax({
      type: "POST",
      url: "{% url 'items:item-delete' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",

      success: function(response) {
        alert(response.message)
        window.location.replace("/items/list/")
      },
      error: function(request, status, error) {
        alert("로그인이 필요합니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })
</script>



{% endblock %}
