{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<div class="top-container container">
  <h3>완료된 지르미들</h3>
  <span class="text_muted">총 지름 금액: {{ total_cost|intcomma }}원</span>
</div>

<div class="album py-5 bg-light">
  <div class="container body-container">
    <div class="row">

      {% for item in my_items %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow align-items-center">
            <a href="{% url 'items:purchase-item-detail' item_pk=item.pk %}">
              <img class="card-img-top"
              src="{% if item.img %}
              {{ item.img.url }}
              {% else %}
              {% static 'images/default_img.jpg' %}
              {% endif %}"
              alt="item-image">
            </a>
            <span class="price-text">{{ item.price|intcomma }} 원</span>

            <div class="card-body">
              <p class="card-text">{{ item.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button id="deleteBtn" class="btn btn-sm btn-danger" name="{{ item.pk }}">삭제</button>
                </div>
                <small class="text-muted">{{ item.purchase_date|date:'y년 n월 j일' }}</small>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("click", "#deleteBtn", function() {
    var pk = $(this).attr('name')
    $.ajax({
      type: "POST",
      url: "{% url 'items:item-delete' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",

      success: function(response) {
        alert(response.message)
        window.location.replace("/items/list/complete/")
      },
      error: function(request, status, error) {
        alert("로그인이 필요합니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })
</script>


{% endblock %}
