{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<div class="top-container container">
  <h3>완료된 지르미들</h3>
  <span class="text_muted">총 지름 금액: {{ total_cost|intcomma }}원</span>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      {% for item in my_items %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow align-items-center">
            <a href="{% url 'items:purchase-item-detail' item_pk=item.pk %}">
              <img class="card-img-top"
              src="{% if item.img %}
              {{ item.img.url }}
              {% else %}
              {% static 'images/default_img.jpg' %}
              {% endif %}"
              alt="item-image">
            </a>
            <div class="card-body">
              <p class="card-text">{{ item.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'items:item-delete' item_pk=item.pk %}?next_url={%url 'items:my-complete-item-list' %}" method="post">
                    {% csrf_token %}
                  <button class="btn btn-sm btn-danger">삭제</button>
                  </form>
                </div>
                <small class="text-muted">{{ item.purchase_date|date:'y년 n월 j일' }}</small>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}
