{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<div class="top-container container clearfix">
  <h3 class="float-left">내 지르미들</h3>
  <div class="right-top-container float-right">
    <span class="text_muted">지름에 필요한 총 금액: {{ total_cost|intcomma }}원</span>
    <a href="{% url 'items:search-url' %}" class="btn btn-dark">Add item</a>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      {% for item in my_items %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow align-items-center">
            <a href="{% url 'items:item-detail' item_pk=item.pk %}">
              <img class="card-img-top"
              src="{% if item.img %}{{ item.img.url }}{% else %}{% static 'images/default_img.jpg' %}{% endif %}"
              alt="item-image">
            </a>
            <div class="card-body">
              <p class="card-text">{{ item.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'items:purchase-complete' item_pk=item.pk %}" method="post">
                    {% csrf_token %}
                  <button class="btn btn-sm btn-outline-success">지름 완료</button>
                  </form>
                  <form action="{% url 'items:item-delete' item_pk=item.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-danger">삭제</button>
                  </form>
                </div>
                <small class="text-muted">못 지른지 {{ item.created_date|timesince }}째</small>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}
