html, body {
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.row {
  margin: 0;
}
.card {
  box-shadow: 2px 2px 5px 2px rgba(59, 59, 59, 0.12);
  a {
    text-decoration: none;
    color: inherit;
    .price-text {
      margin-bottom: 20px;
    }
  }
  &:hover {
    box-shadow: 2px 2px 5px 2px rgba(59, 59, 59, 0.12);
    transform: translateY(-1px);
  }
}
.top-container {
  margin-top: 76px;
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  height: 40px;
  > span {
    margin-left: auto;
  }
  > a {
    text-decoration: none;
    color: inherit;
  }
}
.form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}
.container {
  margin-top: 100px;
  margin-bottom: 70px;
}
.body-container {
  min-height: 800px;
}
.member-container {
  min-height: 700px;
}
* {
  --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}
.review-content-container div, img {
    max-width: calc(100vw - 30px) !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.review-content-container p {
    max-width: calc(100vw - 30px) !important;
    display: block;
    height: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    --max-font: 20;
    --min-font: 14;
}
@media (min-width: 1200px) {
  .review-content-container div, img, p, span {
    font-size: calc(var(--max-font) * 1px);
  }
}

@media (max-width: 420px) {
  .review-content-container div, img, p, span {
    font-size: calc(var(--min-font) * 1px);
  }
}
.form-group {
  margin-bottom: 20px;
}
.none {
  display: none;
}
.slideUp{
  height: 0;
  transition: all .5s linear;
}
#item-container .container, .album .container {
  margin-top: 0;
}
