img {
  max-width: 100%;
  height: auto;
}
.row {
  margin: 0;
}
.card {
  box-shadow: 2px 2px 5px 2px rgba(59, 59, 59, 0.12);
  a {
    text-decoration: none;
    color: inherit;
    .price-text {
      margin-bottom: 20px;
    }
  }
  &:hover {
    box-shadow: 2px 2px 5px 2px rgba(59, 59, 59, 0.12);
    transform: translateY(-1px);
  }
}
.top-container {
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  height: 40px;
  > span {
    margin-left: auto;
  }
  > a {
    text-decoration: none;
    color: inherit;
  }
}
.container {
  margin-bottom: 70px;
}
.body-container {
  min-height: 800px;
}
.form-group {
  margin-bottom: 20px;
}
