img {
  max-width: 100%;
  height: auto;
}
.row {
  margin: 0;
}
.top-container {
  margin-bottom: 20px !important;
  display: flex;
  align-items: center;
  height: 40px;
  > span {
    margin-left: auto;
  }
}
.container {
  margin-bottom: 70px;
}
.form-group {
  margin-bottom: 20px;
}
