.board-container {
  padding: 0 15px;
  margin: 0 auto 70px auto;
  .add-review-container {
    margin-bottom: 30px;
  }
  #table {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    > .table-header-row {
      display: table-row;
      font-weight: bold;
      font-size: 12px;
      background-color: #212529;
      color: white;
      > .table-cell {
        text-align: center;
      }
    }
    > .table-row {
      display: table-row;
      color: #707070;
    }
    .table-cell {
      display: table-cell;
      padding: 7px;
      border-bottom: 1px solid #ccc;
      vertical-align: middle;
      > a {
        color: inherit;
        > .review-comments {
          display: none;
        }
      }
      > a:hover {
        text-decoration: none;
        color: #a19f9f;
      }
      > .eye-icon {
        display: none;
      }
    }
    .col1, .col6 {
      width: 6%;
      text-align: center;
    }
    .col2 {
      width: 68%;
    }
    .col3 {
      display: none;
    }
    .col4, .col5 {
      width: 10%;
      text-align: center;
    }
  }
}
@media (max-width: 796px) {
  .board-container {
    #table {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      > .table-header-row {
        display: none;
      }
      > .table-row {
        display: block;
        color: black;
        border-bottom: 1px solid #ccc;
      }
      .table-cell {
        border-bottom: 0;
        padding: 0;
        > .eye-icon {
          display: inline;
          color: #cbcaca;
        }
      }
      .col1 {
        display: none;
      }
      .col2 {
        display: inline-block;
        font-size: 1.2rem;
        width: 90%;
        padding-top: 10px;
      }
      .col3 {
        display: inline-block;
        width: 8%;
        text-align: center;
        background-color: #b1b1b1;
        color: white;
      }
      .col4 {
        display: inline-block;
        font-size: 0.8rem;
        color: #7d7c7c;
        width: 80px;
        text-align: left;
        padding: 4px 0 10px 0;
      }
      .col5 {
        display: inline-block;
        font-size: 0.8rem;
        color: #7d7c7c;
        width: 80px;
        text-align: left;
        padding: 4px 0 10px 0;
      }
      .col6 {
        display: inline-block;
        font-size: 0.8rem;
        color: #7d7c7c;
        width: 50px;
        text-align: left;
        padding: 4px 0 10px 0;
      }
    }
  }
}
.review-item-name-container {
  margin-bottom: 12px;
  > .review-item-name {
    font-size: 1.2rem;
    color: #797979;
  }
}
.review-title-container {
  margin-bottom: 8px;
  > .review-title {
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: bold;
  }
}
.review-info-container {
  height: 30px;
  display: flex;
  align-items: center;
  .review-date-view-count {
    color: #7d7c7c;
  }
  .edit-delete-btn {
    margin-left: auto;
  }
}
