#small-table {
  display: none;
}
.board-container {
  padding: 0 15px;
  margin: 0 auto 70px auto;
  .review-add-btn {
    height: 56px;
    width: 56px;
    border-radius: 28px;
    text-align: center;
    padding-top: 14px;
    float: right;
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 3px 0 3px 0 rgba(0,0,0,0.16), 0 3px 3px 0 rgba(0,0,0,0.23);
  }

  .add-review-container {
    margin-bottom: 30px;
  }

  .search-review-container {
    max-width: 400px;
    margin: 0 auto;
  }
  #table {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-bottom: 30px;
    > .table-header-row {
      display: flex;
      font-weight: bold;
      font-size: 12px;
      background-color: #343a40;
      color: white;
      > .table-cell {
        text-align: center;
      }
    }
    > .table-row {
      display: flex;
      color: #707070;
      .empty-review {
        text-align: center;
      }
    }
    .table-cell {
      flex-grow: 1;
      display: table-cell;
      padding: 7px;
      border-bottom: 1px solid #ccc;
      vertical-align: middle;
      > a {
        color: inherit;
        .review-comments {
          font-weight: 500;
        }
      }
      > a:hover {
        text-decoration: none;
        color: #a19f9f;
      }
    }
    .col1, .col5 {
      width: 6%;
      text-align: center;
    }
    .col2 {
      width: 68%;
    }
    .col3, .col4 {
      width: 10%;
      text-align: center;
    }
  }
}
@media (max-width: 796px) {
  #table {
    display: none !important;
  }
  .board-container {
    padding: 0;
    margin-bottom: 80px;
    margin-top: -30px;

    .review-add-btn {
      position: fixed;
      bottom: 15px;
      right: 15px;
      z-index: 5;
    }

    #small-table {
      display: block;
      width: 100%;
      margin-bottom: 30px;

      .small-table-row {
        display: flex;
        color: #414141;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
        height: auto;
        flex-flow: row;

        .empty-review {
          text-align: center;
          padding: 15px 5px;
          width: 100%;

        }

        .small-table-detail {
          display: inline-block;
          width: 85%;
          padding-top: 10px;
          .small-table-title {
            padding-left: 5px;
            padding-right: 30px;
            a {
              color: inherit;
            }
            a:hover {
              text-decoration: none;
              color: #a19f9f;
            }
          }
        }

        .small-table-review-info {
          .review-date {
            text-align: center;
          }
          > span {
            display: inline-block;
            font-size: 0.7rem;
            color: #7d7c7c;
            width: 80px;
            text-align: left;
            padding: 5px 5px 10px;
          }
          > .eye-icon {
            display: inline;
            color: #cbcaca;
          }
        }

        .small-table-comments {
          width: 15%;
          margin-left: auto;
          background-color: #f2f2f2;
          display: flex;
          align-items: center;
          .comments-box {
            margin: 0 auto;
            text-align: center;
            .comments-count {
              color: inherit;
              font-size: 0.9rem;
            }
            .comments-text {
              color: #808080;
              font-size: 0.8rem;
              font-weight: 100;
            }
          }
        }
      }
    }
  }
}
.review-item-name-container {
  margin-bottom: 12px;
  > .review-item-name {
    font-size: 1.2rem;
    color: #797979;
  }
}
.review-title-container {
  margin-bottom: 8px;
  > .review-title {
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: bold;
  }
}
.review-info-container {
  height: 30px;
  display: flex;
  align-items: center;
  .review-date-view-count {
    color: #7d7c7c;
  }
  .edit-delete-btn {
    margin-left: auto;
  }
}
.pagination {
  margin-bottom: 30px;
  .page-link {
    color: #4f4f4f;
  }
  .page-item.active .page-link {
    background-color: #4f4f4f;
    border-color: #4f4f4f;
  }
}
