@import 'variables';

img.card-img-top {
  max-height: 225px;
  width: auto;
  padding-top: 1px
}
.item-name {
  padding: 30px;
}
.item-detail {
  padding: 15px;
  word-break: break-word;
}
.card-text {
  @include max-line(1);
}
.card-body {
  width: 100%;
}
.detail-img {
  width: auto;
  max-height: 340px;
}
p.media-body {
  word-break: break-word;
  white-space: pre-wrap;
  padding-right: 20px;
}
.item-search-form {
  margin-bottom: 30px;
}
.item-add-detail-container {
  margin-bottom: 30px;
}
.form-check {
  padding: 15px;
  > input {
    position: relative;
    margin: 0;
  }
}
.comment-content {
  margin-bottom: 15px;
}
.comment-delete-form {
  margin-top: -1rem !important;
  margin-bottom: 0;
}
.user-profile {
  padding-right: 20px;
  margin-top: -1rem !important;
  margin-bottom: 0;
}
.post-review-btn {
  padding: 15px;
}
