@import 'variables';

.filter-form {
  margin: 0 0 0 auto;
  > .filter-field-container {
    display: -webkit-inline-box;
    > .form-group {
      display: flex;
      align-items: center;
      padding-right: 15px;
      margin: 0;
      > label {
        margin: 0;
        padding-right: 10px;
      }
    }
  }
}
.right-top-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  > span {
    padding-right: 15px;
  }
}
img.card-img-top {
  height: 225px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.price-text {
  font-weight: 500;
}
.item-name {
  padding: 30px;
}
.item-detail {
  padding: 15px;
  word-break: break-word;
}
.card-text {
  @include max-line(1);
  padding-left: 20px;
  padding-right: 20px;
}
.card-body {
  width: 100%;
}
.detail-img {
  width: auto;
  max-height: 340px;
}
.custom-card-col {
  max-width: calc(100% / 3);
  flex: 0 0 calc(100%/3);
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
@media (max-width: 768px) {
  .custom-card-col {
    max-width: none !important;
    flex: none !important;
  }
  .filter-form {
    display: flex;
    font-size: 0.7rem;
    > .filter-field-container {
      display: flex;
      width: 50%;
      &:nth-child(2) {
        width: auto;
      }
      &:nth-child(3) {
        width: auto;
        .form-group {
          padding-right: 0;
        }
      }
      .form-group {
        padding-right: 15px;
        display: block;
        width: 100%;
        label  {
          padding-left: 5px;
          margin-bottom: 5px;
        }
      }
    }
    select {
      height: 2rem;
    }
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  .custom-card-col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .detail-img {
    margin-bottom: 50px;
  }
  .item-detail {
    padding: 15px 0;
  }
  .comment-container {
    padding: 0 15px;
  }
  .top-container {
    display: block;
    margin-bottom: 70px !important;
    h3 {
      margin-bottom: 15px;
    }
  }
  .review-add-container {
    label, .col-lg-11, .post-review-btn {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .card {
    &:hover {
      transform: none;
    }
  }
  .item-name {
    padding: 15px;
  }
  .item-name-container, .item-content-container {
    margin-bottom: 15px;
  }
  .item-search-form {
    margin-bottom: 30px !important;
  }
  .item-add-detail-container {
    margin-bottom: 30px !important;
    .col-lg-3, .col-lg-5, .col-lg-7, .col-lg-9, .col-12 {
      padding-left: 0;
      padding-right: 0;
    }
    img {
      margin-bottom: 30px;
    }
  }

}
p.media-body {
  word-break: break-word;
  white-space: pre-wrap;
  padding-right: 20px;
}
.item-search-form, .item-add-detail-container {
  margin-bottom: 100px;
}
.form-check {
  padding: 15px;
  > input {
    position: relative;
    margin: 0;
  }
}
.item-name-container, .item-content-container {
  margin-bottom: 50px;
}
.comment-delete-form {
  margin-top: -1rem !important;
  margin-bottom: 0;
}
.user-profile {
  padding-right: 20px;
  margin-top: -1rem !important;
  margin-bottom: 0;
}
.post-review-btn {
  padding: 15px;
}
.item-edit-delete-btn {
  margin: 0 0 0 auto;
}
.comment-content-container {
  margin-bottom: 10px;
}
.comment-container {
  margin-bottom: 150px;
}
.comment-list-container:last-child {
  div:nth-last-child(2) {
    border-bottom: none !important;
  }
}
.comment-delete-btn {
  margin-top: -1rem;
}
.child-comment {
  padding-left: 20px;
}
.add-reply {
  padding-left: 20px;
  display: flex;
}
.reply-add-btn {
  margin-top: -1rem;
  margin-right: 2px;
}
.card-button {
  display: flex;
  position: relative;
  flex-direction: column;
}
.empty-item > p {
  font-size: 1.2rem;
  padding-left: 15px;
}
