{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <form method="post" action="">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group row">
          <label for="{{ field.id_for_label }}"
          class="font-weight-bold col-lg-1 col-form-label">{{ field.label }}</label>
          <div class="col-lg-11">
            {{ field|safe }}
          </div>
        </div>
      {% endfor %}
      <div class="post-review-btn">
        <button type="submit" class="btn btn-dark btn-lg btn-block">등록</button>
      </div>
  </form>
</div>



{% endblock %}
