{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load id_from_email_tag %}
{% load date_formatter_tag %}

{% block content %}

<div class="board-container">


  <div class="add-review-container clearfix">
    <a href="{% url 'reviews:review-add' %}" class="review-add-btn btn btn-dark btn-fab" id="main">
      <i class="material-icons">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#a7a7a7" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
        </svg>
      </i>
    </a>
  </div>
  <div id="table">
    <div class="table-header-row">
      <span class="table-cell col1">번호</span>
      <span class="table-cell col2">제목</span>
      <span class="table-cell col3">작성자</span>
      <span class="table-cell col4">날짜</span>
      <span class="table-cell col5">조회수</span>
    </div>
    {% for review in reviews %}
    <div class="table-row">
      <span class="table-cell col1">{{ review.pk }}</span>
      <span class="table-cell col2">
        <a href="{% url 'reviews:review-detail' review_pk=review.pk %}">
          {{ review.title|linebreaksbr }} <span class="review-comments font-weight-bold">[{{ review.comments.count }}]</span></a>
      </span>
      <span class="table-cell col3">{{ review.user|id_from_email }}</span>
      <span class="table-cell col4">{{ review.created_time|date_formatter }}</span>
      <span class="table-cell col5">{{ review.view_count|intcomma }}</span>
    </div>
    {% endfor %}
  </div>

  <div id="small-table">
    {% for review in reviews %}
      <div class="small-table-row no-gutters">
        <div class="small-table-detail">
          <div class="small-table-title">
            <span>
              <a href="{% url 'reviews:review-detail' review_pk=review.pk %}">
                {{ review.title|linebreaksbr }}</a>
              </span>
          </div>
          <div class="small-table-review-info">
            <span>{{ review.user|id_from_email }}</span>
            <span>{{ review.created_time|date_formatter }}</span>
            <span><i class="eye-icon fas fa-eye"></i> {{ review.view_count|intcomma }}</span>
          </div>
        </div>
        <div class="small-table-comments">
          <div class="comments-box">
            <span class="comments-count">{{ review.comments.count }}</span>
            <br>
            <span class="comments-text">댓글</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>



</div>


{% endblock %}
