{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load id_from_email_tag %}

{% block content %}

<div class="container">
  <div class="review-item-name-container">
    <span class="review-item-name">{{ review.item }}</span>
  </div>
  <div class="review-title-container">
    <span class="review-title">{{ review.title }}</span>
  </div>
  <div class="review-info-container clearfix">
    <span class="review-date-view-count">{{ review.created_time|date:'Y. n. j G:i' }} | 조회수 {{ review.view_count|intcomma }}</span>
    <div class="edit-delete-btn">
      <a href="{% url 'reviews:review-list' %}" class="btn btn-sm btn-dark">목록</a>
      {% if request.user == review.user %}
      <a href="" class="btn btn-sm btn-primary">수정</a>
      <a href="" class="btn btn-sm btn-danger">삭제</a>
      {% endif %}

    </div>
  </div>
  <hr>
  {{ review.content|safe }}
  <br><br>
  <hr>
  <br>

  {% include 'reviews/comment/comment-form.html' %}

</div>

<script type="text/javascript">
  $(document).on("click", ".comment-add-btn", function() {
    var pk = $(this).attr('name');
    var content = $("#addComment-"+pk+">textarea").val();
    var nextPath = "/reviews/"+pk
    var isAuth = "{{ request.user.is_authenticated }}";
    if (content && isAuth == "True") {
      $.ajax({
        type: "POST",
        url: "{% url 'reviews:comment-create' %}",
        data: {
          'pk': pk,
          'content': content,
          'next_path': nextPath,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: "html",

        success: function(data, textStatus, jqXHR) {
          $("#addComment-"+pk+">textarea").val("");
          $("#commentList-"+pk).append(data);
          $("#reviewCount").load(window.location + " #reviewCount");
        },
        error: function(request, status, error) {
          alert("잘못된 접근입니다");
          console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    } else if (content && isAuth == "False") {
      alert("로그인이 필요합니다");
      window.location.replace("/login/?next="+nextPath);
    } else {
      alert("댓글 내용을 입력해주세요")
    }
  })

  $(document).on("click", ".comment-delete-btn", function() {
    var pk = $(this).attr('name');
    $.ajax({
      type: "POST",
      url: "{% url 'reviews:comment-delete' %}",
      data: {
        'pk': pk,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "json",

      success: function(response) {
        if(response.status){
          $("#comment-"+pk).remove();
          $("#reviewCount").load(window.location + " #reviewCount");
        }
      },
      error: function(request, status, error) {
        alert("잘못된 접근입니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })

</script>


{% endblock %}
