{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load id_from_email_tag %}

{% block content %}

<div class="container">
  <div class="review-item-name-container">
    <span class="review-item-name">{{ review.item.name }}</span>
  </div>
  <div class="review-title-container">
    <span class="review-title">{{ review.title }}</span>
  </div>
  <div class="review-info-container clearfix">
    <span class="review-date-view-count">{{ review.created_time|date:'Y. n. j G:i' }} | 조회수 {{ review.view_count|intcomma }}</span>
    <div class="edit-delete-btn">
      <a href="{% url 'reviews:review-list' %}" class="btn btn-sm btn-dark">목록</a>
      {% if request.user == review.user %}
      <a href="{% url 'reviews:review-edit' review_pk=review.pk %}" class="btn btn-sm btn-primary">수정</a>
      <button id="deleteBtn" class="btn btn-sm btn-danger" name="{{ review.pk }}">삭제</button>
      {% endif %}

    </div>
  </div>
  <hr>
  {{ review.content|safe }}
  <br><br>
  <hr>
  <br>

  {% include 'reviews/comment/comment-form.html' %}

</div>

<script src="{% static 'js/comment.js' %}"></script>
<script type="text/javascript">
  var isAuth = "{{ request.user.is_authenticated }}";
  var csrfToken = "{{ csrf_token }}";

  $(document).on("click", ".comment-add-btn", function () {
    var pk = $(this).attr('name');
    var url = "{% url 'reviews:comment-create' %}";
    var nextPath = "/reviews/"+pk;
    commentAdd(pk, isAuth, url, csrfToken, nextPath);
  })

  $(document).on("click", ".comment-delete-btn", function () {
    var pk = $(this).attr('name');
    var url = "{% url 'reviews:comment-delete' %}";
    var count = "#reviewCount";
    commentDel(pk, url, csrfToken, count);
  })

  $(document).on("click", ".reply-add-btn", function () {
    var pk = $(this).attr('name');
    replyAddForm(pk);
  })

  $(document).on("click", ".comment-reply-add-btn", function () {
    var parentPk = $(this).attr('name');
    var pk = {{ review.pk }};
    var url = "{% url 'reviews:comment-create' %}";
    var nextPath = "/reviews/"+pk;
    replyAdd(parentPk, pk, isAuth, url, csrfToken, nextPath);
  })

  $(document).on("click", ".reply-delete-btn", function () {
    var pk = $(this).attr('name');
    var url = "{% url 'reviews:comment-delete' %}";
    var count = "#reviewCount";
    replyDel(pk, url, csrfToken, count);
  })

  $(document).on("click", "#deleteBtn", function() {
    var pk = $(this).attr('name');
    $.ajax({
      type: "POST",
      url: "{% url 'reviews:review-delete' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",

      success: function(response) {
        alert(response.message)
        window.location.replace("/reviews/")
      },
      error: function(request, status, error) {
        alert("로그인이 필요합니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })

</script>


{% endblock %}
