{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
	<div class="signup-container">
		<h4>{{ account.get_provider.name }}(으)로 회원가입</h4><br>
		<form action="{% url 'socialaccount_signup' %}" method="POST" class="clearfix">
			{% csrf_token %}
              {% for field in form %}
              <div class="form-group clearfix">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.label == '이메일' %}
                  {% if field.value %}
                    {{ field|add_class:"form-control"|attr:"readonly" }}
                  {% else %}
                    {{ field|add_class:"form-control"|attr:"autofocus" }}
                  {% endif %}
                {% elif field.label == '비밀번호' %}
                  {{ field|add_class:"form-control"|attr:"autofocus" }}
                {% else %}
                  {{ field|add_class:"form-control" }}
                {% endif %}
                {% for error in field.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endfor %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
			<div>
				<button type="submit" class="btn btn-dark">회원 가입</button>
			</div>
		</form>
	</div>
</div>



{% endblock %}
