{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load check_item_exists_tag %}
{% load date_formatter_tag %}

{% block content %}
<div class="top-container container">
  <a href="/"><h3>전체 지르미들</h3></a>
  <form action="" method="get" class="filter-form">
    <div class="filter-field-container">
      <div class="form-group">
        <label class="font-weight-bold">카테고리</label>
        <div class="">
          {% render_field filter.form.category class="custom-select" %}
        </div>
      </div>
    </div>
    <div class="filter-field-container">
      <div class="form-group">
        <label class="font-weight-bold">세대</label>
        <div class="">
          {% render_field filter.form.user__generation class="custom-select" %}
        </div>
      </div>
    </div>
    <div class="filter-field-container">
      <div class="form-group">
        <label class="font-weight-bold">성별</label>
        <div class="">
          {% render_field filter.form.user__gender class="custom-select" %}
        </div>
      </div>
    </div>
  </form>
</div>

<div id="item-container" class="album py-5 bg-light">
  <div class="container body-container">
    <div class="row">
      {% if not filter.qs %}
        <div class="empty-item">
          <p class="text-muted text-center">아이템이 없습니다</p>
        </div>
      {% endif %}
    {% for item in filter.qs %}
      <div id="item-{{ item.pk }}" class="custom-card-col">
          <div class="card mb-4 box-shadow align-items-center">
            <a href="{% url 'items:public-item-detail' item_pk=item.pk %}">
              <div class="card-button align-items-center">
                <img class="card-img-top"
                src="{% if item.img %}{{ item.img.url }}{% else %}{% static 'images/default_img.jpg' %}{% endif %}"
                alt="item-image">
                <span class="price-text">{{ item.price|intcomma }} 원</span>
                <p class="card-text text-center">{{ item.name }}</p>
              </div>
            </a>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if request.user.is_authenticated %}
                    {% check_item_exists item request as is_exists %}
                    {% if is_exists %}
                      <span class="btn btn-sm btn-outline-secondary disabled">이미 있음</span>
                    {% else %}
                      <button id="addItem-{{ item.pk }}" class="add-btn btn btn-sm btn-outline-secondary" name="{{ item.pk }}">내 지르미에 추가</button>
                    {% endif %}
                  {% endif %}
                  {% if request.user in item.like_users.all %}
                    <button class="like btn btn-sm btn-outline-secondary" name="{{ item.pk }}">
                      <i id="like-{{ item.pk }}" class="fas fa-heart"></i>
                    </button>
                  {% else %}
                    <button class="like btn btn-sm btn-outline-secondary" name="{{ item.pk }}">
                      <i id="dislike-{{ item.pk }}" class="far fa-heart"></i>
                    </button>
                  {% endif %}
                </div>
                {% with total_like=item.like_users.count %}
                <small id="count-{{ item.pk }}"class="text-muted">{{ total_like }} like{% if total_like == 0 %}{% else %}{{ total_like|pluralize }}{% endif %}</small>
                {% endwith %}
              </div>
            </div>
          </div>
      </div>
    {% endfor %}

    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).on("click", ".like", function() {
    var pk = $(this).attr('name')
    $.ajax({
      type: "POST",
      url: "{% url 'items:item-like-toggle' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",

      success: function(response) {
        $("#count-"+pk).text(response.like_count_text);
        if(response.message == '좋아요'){
          $("#dislike-"+pk).removeClass('far').addClass('fas');
        }else{
          $("#like-"+pk).removeClass('fas').addClass('far');
        }
      },
      error: function(request, status, error) {
        alert("로그인이 필요합니다")
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })

  $(document).on("click", ".add-btn", function() {
    var pk = $(this).attr('name')
    $.ajax({
      type: "POST",
      url: "{% url 'items:add-from-public' %}",
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",
      success: function(response) {
        alert(response.message)
        $("#addItem-"+pk).text("이미 있음")
        $("#addItem-"+pk).addClass('disabled')
      },
      error: function(request, status, error) {
        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      }
    });
  })

  $('#id_category, #id_user__generation, #id_user__gender').change(function() {
    var categoryValue = $("#id_category").val();
    var generationValue = $("#id_user__generation").val();
    var genderValue = $("#id_user__gender").val();

    if (categoryValue && !generationValue && !genderValue) {
      var url = "?category="+categoryValue;
    } else if (categoryValue && generationValue && !genderValue) {
      var url = "?category="+categoryValue+"&user__generation="+generationValue;
    } else if (categoryValue && generationValue && genderValue) {
      var url = "?category="+categoryValue+"&user__generation="+generationValue+"&user__gender="+genderValue;
    } else if (!categoryValue && generationValue && !genderValue) {
      var url = "?user__generation="+generationValue;
    } else if (!categoryValue && generationValue && genderValue) {
      var url = "?user__generation="+generationValue+"&user__gender="+genderValue;
    } else if (!categoryValue && !generationValue && genderValue) {
      var url = "?user__gender="+genderValue;
    } else if (categoryValue && !generationValue && genderValue) {
      var url = "?category="+categoryValue+"&user__gender="+genderValue;
    } else {
      var url = "/";
    }
    window.location.replace(url);
  })


</script>




{% endblock %}
